.hero-section-banner-title{
    margin-bottom: 1rem;
    font-size: 36px;
    line-height: 40px;
}
.hero-section-feature-bullets{
    margin-top: 1rem;
}
.hero-section-banner-subtitle{
    font-size: 18px;
    line-height: 28px;
    color: #525252;
}
.hero-section-header{
    margin-bottom: 3rem;
    width: 100%;
}
.hero-section-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 12px;
    padding-right: 12px;
}
.hero-section-container{
    min-height: 100vh;
    background-color: white;
    margin: 1rem;
    text-align: left;
    border-radius: 4px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 12px;
    padding-left: 12px;
}
.hero-section-banner-image{
    height: 100%;
    width: 100%;
}
.hero-section-header-content{
    margin-bottom: 2rem;
}
.hero-section-header-actions{
    display: flex;
    gap: 1rem;
}
.hero-section-banner-illustration{
    width: 100%;
}
.hero-section-banner-image{
    border-radius: 4px
}
@media (min-width: 768px){
.hero-section-container{
    border-radius: 4px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 12px;
    padding-left: 12px;
}
.hero-section-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 12px;
    padding-left: 12px;
}
.hero-section-banner-title{
    font-size: 3rem;
    line-height: 3rem;
}
.hero-section-feature-bullets{
    margin-top: 4rem;
}
.hero-section-banner-subtitle{
    font-size: 20px;
    line-height: 28px;
}
.btn{
    width: 213px;
    height: 60px;
    font-size: 18px;
}
@media (min-width: 1440px){
    .hero-section-content{
        display: flex;
        gap: 2rem;
        padding: 6rem;
    }
    .hero-section-header-content{
        margin-bottom: 4rem;
    }
    .hero-section-banner-title{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 24px;
    }
    .hero-section-feature-bullets{
        margin-top: 40px;
    }
    .hero-section-banner-image{
        width: 100%;
    }
}
}

