.info-sections{
    margin-bottom: 3rem;
}
.info-section{
    display: flex;
    gap: 12px;
}
.info-section-icon{
    display: inline-flex
}
.info-section-text{
    text-align: left;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    margin-top: 0;
    color: #525252;
    display: inline-flex;
}